*{
    margin: 0;
    padding: 0;
}

/* body{
    width: 100vw;
} */

li{
    list-style: none;
}

nav{
    max-width: 1280px;
    margin: auto;
    background-color: #2F1F14;
    font-family: "Poppins", sans-serif;
    height: 92vh;
}

.logo{
    img{
        width: 300px;
    }
}

.sidebar{
    display: none;
}

.hero{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 40px;
    ul{
        display: flex;
        color: white;
        background-color: #6F4436;
        border-radius: 5px;
        li{
            margin: 0 10px;
            padding: 10px 15px;
        }
    }
}

.hero-img{
    position: absolute;
    top: 0;
    left: 80px;
    img{
        width: 1200px;
    }
}

.hero-text{
    color: white;
    padding: 0 150px;
    h1{
            font-family: "Pompiere", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size:70px;
            line-height: 21px;       
    }
    p{
        font-family: "Galada", cursive;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        line-height: 21px;
        margin-top: 50px;
    }

}


@media screen and (max-width:768px) {
    .hero{
        display: flex;
    }
    .nav1{
        display: none;
    }
    .hero-img{
        display: none;
    }
    .sidebar{
        display: block;
        width: 60px;
        background-color: #DBBCA1;
        text-align: center;
        border-radius: 20px;
    }
    .hero-text{
        color: white;
        padding: 0;
        text-align: center;
        h1{
                font-family: "Pompiere", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size:30px;
                line-height: 21px;
                padding: 0 10px;       
        }
        p{
            font-family: "Galada", cursive;
            font-weight: 400;
            font-size: 20px;
            font-style: italic;
            line-height: 21px;
            margin-top: 50px;
            padding: 0 50px;
        }
    
    }
}
