*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

nav{
    max-width: 1280px;
    margin: auto;
    background-color: #2F1F14;
    font-family: "Poppins", sans-serif;
    height: 92vh;
}

.logo{
    img{
        width: 300px;
    }
}

.sidebar{
    display: none;
}

.hero{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 40px;
    ul{
        display: flex;
        color: white;
        background-color: #6F4436;
        border-radius: 5px;
        li{
            margin: 0 10px;
            padding: 10px 15px;
        }
    }
}

.hero-img{
    position: absolute;
    top: 0;
    left: 64px;
    img{
        width: 1200px;
    }
}

.hero-text{
    color: white;
    padding: 0 150px;
    h1{
            font-family: "Pompiere", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size:70px;
            line-height: 21px;       
    }
    p{
        font-family: "Galada", cursive;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        line-height: 21px;
        margin-top: 50px;
    }

}

section{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #DBBCA1;
}

.sec-img{
    img{
        width: 450px;
        border-radius: 50px;
    }
}

.sec-text{
    padding-left: 120px;
    h1{
        font-family: "Poppins", sans-serif;
        line-height: 63px;
        font-size: 42px;
        font-weight: 700;
    }
    h2{
        font-family: "Poppins", sans-serif;
        line-height: 42px;
        font-size: 28px;
        font-weight: 400;
    }
    p{
        font-family: "Inter", sans-serif;
        line-height: 25px;
        font-size: 17px;
        font-weight: 400;
        padding-top: 20px;
    }
    button{
        background-color: #2F1F14;
        color: white;
        margin-top: 30px;
        padding: 10px 30px;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        border: 0;
    }
}

.review-section{
    max-width: 1280px;
    margin: auto;
    background-color: #655546;
    color: white;
    text-align: center;
    padding: 50px 100px;
    h2{
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        line-height: 42px;
        font-weight: 400;
    }
    
}

.review-page{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100px;
    }
}

.review-card{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card{
    background-color: #DBBCA1;
    margin: 10px 20px;
    padding: 30px 25px;
    border-radius: 10px;
    h1{
        font-family: "Montserrat", sans-serif;
        font-size: 42px;
        line-height: 63px;
        font-weight: 700;
    }
    p{
        font-family: "Inter", sans-serif;
        font-size: 15px;
        line-height: 23px;
        font-weight: 500;
        color: #2F1F14;
        padding-bottom: 20px;
    }
    span{
        color: #0A424F;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
    }
}

.footer{
    max-width: 1280px;
    margin: auto;
    background-color: #291600;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 50px 100px;
    font-family: "Inter", sans-serif;
    h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
    }
    h2{
        font-size: 21px;
        font-weight: 400;
        line-height: 32px;
        color: #655546;
    }
    
}

.contact{
    padding-top: 65px;
}

input{
    margin: 10px 0;
    height: 40px;
    width: 350px;
    outline: 0;
}

textarea{
    height: 60px;
    width: 350px;
    margin-top: 10px;
    outline: none;
}

button{
    background-color: #DBBCA1;
    width: 150px;
    height: 40px;
    padding: 8px 25px;
    border: 0;
    margin-top: 8px;
    border-radius: 5px;
    color: #291600;
}

.map{
    padding-top: 65px;
    li{
        font-size: 21px;
        line-height: 29px;
        font-weight: 400;
    }
}

.coffee-footer{
    img{
        width: 300px;
    }
}

.social{
    p{
        color: #655546 ;
        display: flex;
        align-items: center;
        img{
            margin: 10px;
        }
    }
}

.copyright{
    background-color: #DBBCA1;
    text-align: center;
    padding: 15px 0;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-size: 400;
}


@media screen and (max-width:768px) {
    nav{
        max-height: 40%;
        box-sizing: border-box;
    }
    .hero{
        display: flex;
        justify-content: space-evenly;
    }
    .nav1{
        display: none;
    }
    .hero-img{
        display: none;
    }
    .sidebar{
        display: block;
        width: 15%;
        font-size: 20px;
        background-color: #DBBCA1;
        text-align: center;
        border-radius: 20px;
    }
    .hero-text{
        color: white;
        padding: 0;
        text-align: center;
        h1{
                font-family: "Pompiere", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size:30px;
                line-height: 21px;
                padding: 0 10px;       
        }
        p{
            font-family: "Galada", cursive;
            font-weight: 400;
            font-size: 20px;
            font-style: italic;
            line-height: 21px;
            margin-top: 50px;
            padding: 0 50px;
        }
    
    }

    section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 0;
    }
    .sec-text{
        padding-left: 0;
        padding: 0 20px;
        h1{
            font-family: "Poppins", sans-serif;
            line-height: 42px;
            font-size: 28px;
            font-weight: 700;
        }
        h2{
            font-family: "Poppins", sans-serif;
            line-height: 35px;
            font-size: 28px;
            font-weight: 400;
        }
        p{
            font-family: "Inter", sans-serif;
            line-height: 25px;
            font-size: 17px;
            font-weight: 400;
            padding-top: 20px;
        }
        button{
            background-color: #2F1F14;
            color: white;
            font-size: 18px;
            line-height: 27px;
            margin-top: 30px;
            padding: 20px 30px;
            display: flex;
            align-items: center;
            border-radius: 6px;
            border: 0;
        }
    }

    .sec-img{
        text-align: center;
        img{
            width: 550px;
            border-radius: 70px;
        }
    }

    .review-section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }

    .review-card{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
    }

    .footer{
        margin: 0;
        padding: 0 20px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
    }

    input{
        width: 100%;
        padding: 0;
    }

    textarea{
        width: 100%;
        padding: 0;
    }

    .coffee-footer{
        img{
            width: 200px;
        }
    }

    .social{
        margin: 0;
    }
    
}

@media screen and (max-width: 400px) {
    section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 0;
    }
    .sec-text{
        padding-left: 0;
        padding: 0 20px;
        h1{
            font-family: "Poppins", sans-serif;
            line-height: 42px;
            font-size: 28px;
            font-weight: 700;
        }
        h2{
            font-family: "Poppins", sans-serif;
            line-height: 35px;
            font-size: 28px;
            font-weight: 400;
        }
        p{
            font-family: "Inter", sans-serif;
            line-height: 25px;
            font-size: 17px;
            font-weight: 400;
            padding-top: 20px;
        }
        button{
            background-color: #2F1F14;
            color: white;
            font-size: 18px;
            line-height: 27px;
            margin-top: 30px;
            padding: 15px 30px;
            display: flex;
            align-items: center;
            border-radius: 6px;
            border: 0;
        }
    }

    .sec-img{
        text-align: center;
        img{
            width: 300px;
            border-radius: 70px;
        }
    }
}
