*{
    margin: 0;
    padding: 0;
}

/* body{
    width: 100vw;
} */

li{
    list-style: none;
}

nav{
    max-width: 1280px;
    margin: auto;
    background-color: #2F1F14;
    font-family: "Poppins", sans-serif;
    height: 92vh;
}

.logo{
    img{
        width: 300px;
    }
}

.sidebar{
    display: none;
}

.hero{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 40px;
    ul{
        display: flex;
        color: white;
        background-color: #6F4436;
        border-radius: 5px;
        li{
            margin: 0 10px;
            padding: 10px 15px;
        }
    }
}

.hero-img{
    position: absolute;
    top: 0;
    left: 64px;
    img{
        width: 1200px;
    }
}

.hero-text{
    color: white;
    padding: 0 150px;
    h1{
            font-family: "Pompiere", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size:70px;
            line-height: 21px;       
    }
    p{
        font-family: "Galada", cursive;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        line-height: 21px;
        margin-top: 50px;
    }

}

section{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #DBBCA1;
}

.sec-img{
    img{
        width: 450px;
        border-radius: 50px;
    }
}

.sec-text{
    padding-left: 120px;
    h1{
        font-family: "Poppins", sans-serif;
        line-height: 63px;
        font-size: 42px;
        font-weight: 700;
    }
    h2{
        font-family: "Poppins", sans-serif;
        line-height: 42px;
        font-size: 28px;
        font-weight: 400;
    }
    p{
        font-family: "Inter", sans-serif;
        line-height: 25px;
        font-size: 17px;
        font-weight: 400;
        padding-top: 20px;
    }
    button{
        background-color: #2F1F14;
        color: white;
        margin-top: 30px;
        padding: 15px 50px;
        border-radius: 6px;
        border: 0;
    }
}


@media screen and (max-width:768px) {
    .hero{
        display: flex;
    }
    .nav1{
        display: none;
    }
    .hero-img{
        display: none;
    }
    .sidebar{
        display: block;
        width: 10%;
        background-color: #DBBCA1;
        text-align: center;
        border-radius: 20px;
    }
    .hero-text{
        color: white;
        padding: 0;
        text-align: center;
        h1{
                font-family: "Pompiere", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size:30px;
                line-height: 21px;
                padding: 0 10px;       
        }
        p{
            font-family: "Galada", cursive;
            font-weight: 400;
            font-size: 20px;
            font-style: italic;
            line-height: 21px;
            margin-top: 50px;
            padding: 0 50px;
        }
    
    }

    section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 0;
    }
    .sec-text{
        padding-left: 0;
        padding: 0 20px;
        h1{
            font-family: "Poppins", sans-serif;
            line-height: 42px;
            font-size: 28px;
            font-weight: 700;
        }
        h2{
            font-family: "Poppins", sans-serif;
            line-height: 35px;
            font-size: 28px;
            font-weight: 400;
        }
        p{
            font-family: "Inter", sans-serif;
            line-height: 25px;
            font-size: 17px;
            font-weight: 400;
            padding-top: 20px;
        }
        button{
            background-color: #2F1F14;
            color: white;
            font-size: 18px;
            line-height: 27px;
            margin-top: 30px;
            padding: 15px 30px;
            border-radius: 6px;
            border: 0;
        }
    }

    .sec-img{
        text-align: center;
        img{
            width: 250px;
            border-radius: 70px;
        }
    }
}
